NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=4180
APP_MODE=formal-review
SESSION_SECRET=cambia-esto-por-una-clave-larga-aleatoria
ALLOWED_EMAIL_DOMAINS=empresaspolar.com
ALLOWED_EMAILS=eliecermadrizgarcia@gmail.com,eliecermadrizgarcia2@gmail.com
AUDIT_LOG=true
SECURE_COOKIES=true

NOTION_DB_SOLICITUDES=21ae3d021d1b4344b05c28c9ee7eba44
NOTION_DB_MARCAS=a11d78243cd941039e27f810969f8942
NOTION_DB_PROVEEDORES=440bc180be9c486e834ea9cd264105e8
NOTION_DB_USUARIOS=995bf3d3093343e595e6f335a8245365
